__pycache__
.ipynb_checkpoints
.vscode
logs
*.pyc
dask-worker-space
*.lprof
*.prof
*egg-info*
*.gv*
test_data/
.venv
.dir-locals.el
test_record
stdout*
*.slurm
.mypy_cache
local_data
dist/
*.so
build/
*.temp